DATABASE_URL=postgres://postgres:postgres@localhost:5434/vleer_api
SCRAPE_DATABASE_URL=postgres://postgres:postgres@localhost:5432/apple_music_scrape

TYPESENSE_URL=http://localhost:8108
TYPESENSE_API_KEY=vleer